# Copy this file to .env and fill in your values
# NEVER commit the actual .env to Git

AWS_ACCESS_KEY_ID=AKIAFAKEEXAMPLE12345
AWS_SECRET_ACCESS_KEY=wJalrXUtnFEMI/K7MDENG/bPxRfiCYEXAMPLEKEY
AWS_REGION=us-east-1

# Grafana admin credentials
GRAFANA_USER=admin
GRAFANA_PASSWORD=Harsha@181818

# Logging level: DEBUG | INFO | WARNING | ERROR
LOG_LEVEL=INFO
